*.pydevproject
.metadata
.gradle
bin/
build/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
target/
world/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse

#Intellij
.idea/
*.impl
